<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Course</title>
    </head>
    <body>
        <div layout:fragment="content" class="row course-component">
            <div class="col-12">
                <div class="row">
                    <h1 th:text="${course.name}"></h1>
                </div>
                <div class="row">
                    <h1 th:text="${course.subject}"></h1>
                </div>
                <div class="row">
                    <h1 th:text="${course.honorarium}"></h1>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <label class="main-label">Students</label>
                        </div>
                        <div th:each="student : ${course.students}" class="row list-group">
                            <a th:text="${student.name}" href="#" class="list-group-item list-group-item-action text-center"></a>
                        </div>
                    </div>
                
                    <div class="col-4">
                        <div class="row">
                            <label class="main-label">Actions</label>
                        </div>
                        <div class="row">
                        <div class="col-6">
                            <div th:each="student : ${course.students}" class="row list-group" sec:authorize="hasRole('ROLE_TEACHER')" >
                                <a  href="#" th:href="@{/add/presence(sid = ${student.id}, cid = ${course.id})}"  class="list-group-item list-group-item-action text-center">Set Present</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div th:each="student : ${course.students}" class="list-group" sec:authorize="hasRole('ROLE_TEACHER')" >
                                <a  href="#" th:href="@{/grade(sid = ${student.id}, cid = ${course.id})}" class="list-group-item list-group-item-action text-center">Grade</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label class="main-label">Teachers</label>
                        </div>
                        <div th:each="teacher : ${course.teachers}" class="row list-group">
                            <a th:text="${teacher.name}" href="#" class="list-group-item list-group-item-action text-center"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body> 
</html>