<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
	<head>
	<title>Profile</title>
	</head>

	<body>
		<div layout:fragment="content">
			<div class="row justify-content-center">
				<h1>My courses</h1>
			</div>
			<div th:each="course : ${userCourses}" class="row justify-content-center list-group">
				<a th:text="${course.name + ' ' + course.subject}" href="#" th:href="@{/course(id = ${course.id})}" class="list-group-item list-group-item-action "></a>
			</div> 
		</div>
	</body>
</html>