<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>Teacher Creation</title>
  </head>
  <body>
    <div layout:fragment="content">
        <form name="f" th:action="@{/teacher/Create}" th:object="${courseFormObject}" method="post">               
            <fieldset>
                <legend>Enter teacher creadentials</legend>
               	<div th:if="${error != ''}">
               		<p th:text="${error}"></p>
               	</div>   
                
                <div>
                	<label for="name">Name:</label>
                	<input type="text" id="name" name="name"/>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"/>        
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div>
                    <label for="passwordRepeat">Repeat Password:</label>
                    <input type="passwordRepeat" id="passwordRepeat" name="passwordRepeat"/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Create</button>
                </div>
            </fieldset>
        </form> 
    </div>
  </body>
</html>